
.fileContainer {
    box-shadow:0 0 0 0 rgba(0, 0, 0, 0.05) !important;
}

.fileContainer .deleteImage {
    position: absolute;
    color:black !important;
    top:0px !important;
    right: -3px !important;
    background:unset !important;
    font-size: 17px !important;
    line-height: 20px !important;
    width: 20px !important;
    height: 20px !important;
}

.uploadPicturesWrapper .uploadPictureContainer{
    padding:15px !important;
}

@keyframes slide-bg {
    0% {
        background-position: 0 0%; 
    }
    100% {
        background-position: 0 100%;
    }
}